<h2> Welcome to the Crystal Gem API! </h2>
<em>If you haven't yet, please read the documentation located <a href="https://noltron000.github.io/BEW-1-2_crystal-gem-api/">here!</a></em>
<p>Please view the links above to get started. If you don't know where to start, consider viewing all gems, and trying to create a new one. Once you get the hang of it, try viewing the fusions, and creating one of them too! After you are done, you can check out the <code>JSON</code> data that your work has produced.</p>

<p>If you find an issue, please report it on my GitHub at <a href="https://github.com/noltron000/BEW-1-2_crystal-gem-api/"> </a> </p>