<h2>Show {{fusion.name}}</h2>

<h3>Gems</h3>
{{#each fusion.gems}}
<p>{{this}}</p>
{{/each}}

<h3>Weapons</h3>
{{#each fusion.weapons}}
<p>{{this}}</p>
{{/each}}

<h3>Powers</h3>
{{#each fusion.powers}}
<p>{{this}}</p>
{{/each}}