<h2>Create a fusion</h2>

<!-- Create Fusion Form -->
<form>

	<div>
		<label for='fusion'>
			Fusion Gem:
		</label><br />
		<input type='text' name='fusion' id='fusion' />
	</div>

	{{#each gem}}
	<div>
		<input type='checkbox' name='{{this.name}}' id='{{this.name}}' />
		<label for='{{this.name}}'>
			{{this.name}}
		</label>
	</div>
	{{/each}}

	<div>
		<label for='weapon'>
			Signature Weapon:
		</label><br />
		<input type='text' name='weapon' id='weapon' />
	</div>

	<div>
		<label for='power'>
			Secret Power:
		</label><br />
		<input type='text' name='power' id='power' />
	</div>

	<button>
		Submit
	</button>

</form>