<h2>Show {{gem.name}}</h2>

<h3>Fusions</h3>
{{#each gem.fusions}}
<p>{{this}}</p>
{{/each}}

<h3>Weapons</h3>
{{#each gem.weapons}}
<p>{{this}}</p>
{{/each}}

<h3>Powers</h3>
{{#each gem.powers}}
<p>{{this}}</p>
{{/each}}