<h2>Create a gem</h2>

<!-- Create Gem Form -->
<form action='/gem' method='post'>

	<fieldset>
		<legend>
			Basics
		</legend>

		<div>
			<label for='name'>
				Gem
			</label><br />
			<input type='text' name='name' id='name' />
		</div>
	</fieldset>

	<fieldset>
		<legend>
			Abilities
		</legend>

		<div>
			<label for='weapon'>
				Signature Weapon
			</label><br />
			<input type='text' name='weapon' id='weapon' />
		</div>

		<div>
			<label for='power'>
				Secret Power
			</label><br />
			<input type='text' name='power' id='power' />
		</div>

	</fieldset>
	<button type='submit'>
		Submit
	</button>

</form>