<h1>The Crystal Gem API</h1>
<ul>
	<li>
		<a href='/'>
			Home Page
		</a>
	</li>
	<li>
		<a href='/gem/new'>
			New Gem
		</a>
	</li>
	<li>
		<a href='/fusion/new'>
			New Fusion
		</a>
	</li>
	<li>
		<a href='/gem'>
			Index Gems
			<code>(JSON)</code>
		</a>
	</li>
	<li>
		<a href='/fusion'>
			Index Fusions
			<code>(JSON)</code>
		</a>
	</li>
</ul>