<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		pre {
			display: block;
			font-family: monospace;
			white-space: pre;
			margin: 1em 0px;
		}
	</style>
	<title>Document</title>
</head>

<body>
	{{> navbar}}
	{{{body}}}
</body>

</html>